# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### Using 'in' keyword

##### Continue Statement

In [ ]:
#continue will move on to the next iteration is met
#

##### Break Statement

##### Pass Statement

##### Double For Loops

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

##### looping 'While True'

##### While & For Loops Used Together

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

##### The Range Function

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7]

for num in numbers:
    print(num**2)

1
4
9
16
25
36
49

Connor
Max
Evan
Jordan

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']
Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

Connor Max Evan Jordan None

## Lists

##### Declaring Lists

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

##### Indexing a List

Austin
['Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin']
['Tenzin', 'Dylan']
['Mohammad', 'Dylan', 'Austin', 'Tenzin', 'Ryan']

### List Methods

##### .append()

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Kayla']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Kayla', 2]

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted', 'Bill', 'Ted']

##### .insert()

['Ryan', 'Tenzin', 'Austin', 'Sam', 'Sam', 10, 'Sam', 10, 'Dylan', 'Mohammad', 'Alex', 'Kayla', 2]
['Ryan', 'Tenzin', 'Austin', 'Sam', 10, 'Sam', 10, 'Sam', 10, 'Dylan', 'Mohammad', 'Alex', 'Kayla', 2]
[5, 6, 1, 'Sam', 10, 11, 334, 1341, 1515]

##### .pop()

Mohammad
['Ryan', 'Tenzin', 'Austin', 'Alex', 'Kayla', 2]
2
['Ryan', 'Tenzin', 'Austin', 'Alex', 'Kayla']

##### .remove()

['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
['Billy', 'Berry', 'Bertha', 'Bert']

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

### Working With Lists

##### del()

SyntaxError: cannot delete literal (13714010.py, line 6)

##### min()

-12
Alex

##### max()

10
Zoop

##### sum()

13

##### sorted()

[-12, 1, 3, 5, 6, 10]
[-12, 1, 3, 5, 6, 10]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

Numbers before sort [3, 6, 1, 5, 10, -12]
None
Numbers after sort [-12, 1, 3, 5, 6, 10]
Hello
Hello
hello

##### Copying a List

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
1
1
0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu

##### 'in' keyword

Ranger

nope
nope
Tenzin
nope
nope
nope

IndentationError: expected an indented block (2703666223.py, line 3)

##### 'not in' keyword

Frederick is not a Ranger, booooo Frederick

##### Checking an Empty List

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']
['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

tucker sam deliah connor bob evan max 2 3 4 kevin

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

['t', 's', 'd', 'e']
['t', 's', 'd', 'e']

['sam', 'sean']
['sam', 'sean']

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

[0, 1, 4, 3, 16, 125, 36, 7, 64, 9]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
2
6
tuple length 3
1
2
3
4
5
6

##### sorted()

In [142]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [148]:
print(tup)

tup = tup + (6, )
print(tup)

(20, 5, 1, 10, 95, 123, 5, 5, 5)
(20, 5, 1, 10, 95, 123, 5, 5, 5, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [6]:
alist = [1,11,14,5,8,9]


for num in alist




    print(alist)

SyntaxError: expected ':' (1236530362.py, line 2)

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [8]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

merged_list = l_1 + l_2

print(merged_list)

[1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [10]:
for num in range(1, 16):
    square = num ** 2
    print(square)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']
range_names = [name.strip().title() for name in names_list if name.strip().lower.strastwith('a')]
print (range_n)

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>